
body{
background-color: #dac4ef;
font-family: sans-serif;

}


h1{
  
    text-align: center;
    font-family: sans-serif;
    font-size:36px;

}

h2{
    margin: 0 0 5px;
    font-size: 28px;
}

select{
    display:block;
    width:100%;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
}


.container {
max-width: 600px;
margin: 60px auto;
background:#f3e3f6;
padding: 30px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.city {
    display:flex;
    margin:20px 0;
    justify-content: space-between;
    padding:20px 0;
    border-bottom: 1px dashed grey;
}

.city:last-child{
    border:none;
}

.time{
    font-size: 30px;
    font-weight: bold;
}

.date{
    opacity:0.7;
}




footer{

    text-align: center;
    font-size: 18px;
    color:rgba(0,0,0,0.8);
}